*{margin:0;padding:0;font-family: 'Times New Roman', Times, serif;
}
header{background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(57, 57, 57, 0.5)) , 
    url(https://p2.piqsels.com/preview/745/724/30/bridge-nature-road-journey.jpg);height: 70vh;background-size: cover;background-position: center; 
} 
body{background-color: rgb(149, 210, 242);
}
ul{list-style-type: none; 
float: right;} 
ul li{display:inline-block ; margin-top:25px ;
} 
ul li a{text-decoration: none; color: rgb(202, 236, 234); 
padding: 5px 20px; border: 1px solid transparent;
} 
ul li a:hover{background-color: white;color: black; 
transition: 0.6s ease;
} 
.main{max-width: 1200px ; 
margin: auto;} 
ul li.creative a{position: relative;left: -300%;
} 
.name{position: absolute; 
top: 50%; 
left: 50%; 
color: aliceblue;
transform: translate(-50% ,-50%);
}
.box7 p,h2{
    text-align: center;

}
.box1 .center{
    display: flex;
    
    justify-content: center;
}
.center .box2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
